.song-page {
    margin-left: 12.5%
}

/* ===== Cells ===== */
#song-monthly th,
#song-monthly td {
    white-space: nowrap;
    padding: 5px 10px;
    border: 1px solid #303030;
    background: #121212;
    overflow: hidden;
    text-overflow: ellipsis;
}

#song-monthly td:first-child {
    min-width: 55px;
    color:#5f5f5f
}

#song-monthly td {
    font-size: 12px;
}

.highlight-n1 {
    background: linear-gradient(90deg, #b4a656, #9c7e06) !important;
}

.n1-row {
    background: linear-gradient(90deg, #b4a656, #9c7e06) !important;
    font-weight: 600;
    color: white !important;
}

a {
    color: white;
    text-decoration: none;
    transition: opacity 0.2s;
}

a:hover {
    opacity: 0.7;
}